<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{43,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{43,52}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>hero01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,56},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{43,52}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>hero01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{43,52}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>hero01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero01.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2987452b5c1c93616b43753abd7f2a65$</string>
            <key>textureFileName</key>
            <string>hero01.png</string>
        </dict>
    </dict>
</plist>
